body {
  background-color: #f0f0f0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  text-align: left;
}

#fortune-container {
  text-align: center;
}

#fortune-text {
  font-size: 18px;
}

/* SweetAlert2 스타일 수정을 위한 추가 CSS */
.swal2-popup {
  font-size: 1rem;
}
